# Maven
target/
*.jar
*.war
*.ear

# Logs
*.log
api-gw-config.json
compose-logs.txt
config.txt
sonar_debug*.txt
sonar_error*.txt

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
uploads/  
*.log  
out.txt 
